// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: #2d3133;
  background-color: #e0ffff;
  margin: 0;
  min-height: 1vh;
}

header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: #000080;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: #4169e1;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: #0000ff;
  margin: 0;
  font-size: 13px;
}
